@model WebScrapingSite.Models.SampleData

<table border="1" id="PersonTable">
    <thead>
        <tr>
            <th>
                <pre lang="html">Person's Name</pre>
            </th>
            <th>
                <pre>View Detail</pre>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.People)
        {
            <tr>
                <td>@person.PersonName</td>
                <td>
                    <pre>
                        <a href="/Home/ViewDetail/@person.ID">View</a>
                    </pre>
                </td>
            </tr>
        }
    </tbody>
</table>

<form action="/Home/PostSuccess" id="dataForm" method="post">
    <label>Username</label>
    <input id="UserName" name="UserName" value="" />

    <label>Gender</label>
    <select id="Gender" name="Gender">
        <option value="M">Male</option>
        <option value="F">Female</option>
    </select>
    <button type="submit">Submit</button>
</form>